# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules

# Build artifacts
dist
dist-ssr

# Coverage reports
coverage


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Thumbs.db

# Temporary files from tools
.eslintcache
.parcel-cache
.turbo

# Lock files (optional)
package-lock.json
yarn.lock
pnpm-lock.yaml

# Local Node.js REPL history
.node_repl_history
